
  /* .box:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      rgba(48, 81, 154, 0.4) 0%, 
      rgba(34, 72, 155, 0.2) 40%, 
      transparent 100%
    );
    filter: blur(10px);
    pointer-events: none;
    z-index: -1;
  
  } */
.box {
  position: relative;
  color: white;
  /* background-color: #111; solid inner background */
  padding: 20px;
  /* border-radius: 12px; */
  overflow: hidden;
  z-index: 1;
}
@property --angle{
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: conic-gradient( from var(--angle),
    transparent 60%,blue
  );
  z-index: -1;
  animation: 4s spin linear infinite;
}

.box::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  filter: blur(2px);
  background: #0F0F0F;
  border-radius: 10px;
  z-index: -1;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}